.contenedor_padre_historia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.contenedor_historia{
    display: flex;
    flex-direction: column;
    gap: 113px;
}

.historia_breve{
    display: flex;
    align-items: center;
    text-align: start;
    justify-content: center;
    border: 2px solid black;
    padding: 1rem;
    border-radius: 1rem;
    gap: 5rem;
    font-size: 3.5rem;
    box-shadow: 5px 4px 10px rgb(22, 22, 120);
    background-color: rgba(250, 235, 215, 0.6);
}


/* tablet */

@media screen  and (min-width: 768px) and (max-width: 1023px){
    .historia_breve{
        display: flex;
        align-items: center;
        text-align: start;
        justify-content: center;
        border: 2px solid black;
        padding: 1rem;
        border-radius: 1rem;
        gap: 5rem;
        font-size: 3.5rem;
        box-shadow: 5px 4px 10px rgb(22, 22, 120);
        background-color: rgba(250, 235, 215, 0.6);
    }
}


/* mobile */
@media screen and (min-width: 320px) and (max-width: 767px){
    .historia_breve{
        display: flex;
        align-items: center;
        text-align: start;
        justify-content: center;
        flex-direction: column;
        
    }
}