.tituloLocales{
    text-align: center;
    margin: 4rem 0rem;
    background-color: rgb(22, 22, 120);
    color: white;
}


/* contenedor de locales */

.contenedor_locales{
    background-color: rgba(250, 235, 215, 0.6);
    box-shadow: 7px 6px 10px rgb(22, 22, 120);
    border-radius: 3rem;
    border: 2px solid black;
    color: rgb(0, 0, 191);
    margin: 10px 80px 100px 80px;
    padding: 40px 0px;

    h2{
        margin: 1rem 8rem;
    }

    img{
        background-color: rgba(255, 255, 255, 0.704);
        border: 1px solid black;
        height: 15rem;
        width: 15rem;
        margin: 2rem 17rem;
        padding: 2rem 3rem;
        border-radius: 2rem;
        box-shadow: 5px 4px 10px rgb(0, 0, 0);
        &:hover{
            cursor: pointer;
            transform: scale(1.2);
            transition: all 0.5s ease-in-out;
        }
    }

}

.locales{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 200px;
    gap: 3rem;
    
    /* display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; */
}


@media screen and (min-width: 1300px) and (max-width: 1630px) {
    .locales{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 200px;
        gap: 2rem;
        text-align: center;
    }
    .contenedor_locales img{
        height: 12rem;
        width: 12rem;
        margin: 2rem 9rem;
        padding: 2rem 3rem;
    }
}


/* tablet */

@media screen and (min-width: 768px) and (max-width: 1299px){

    .contenedor_locales{
        background-color: rgba(250, 235, 215, 0.6);
        box-shadow: 7px 6px 10px rgb(22, 22, 120);
        border-radius: 3rem;
        border: 2px solid black;
        color: rgb(0, 0, 191);
        margin: 10px 40px 50px 40px;
        padding: 10px 0px;
        img{
            height: 12rem;
            width: 13rem;
            margin: 2rem 9rem;
            padding: 2rem 3rem;
        }
    }

    .locales{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 200px;
        gap: 2rem;
        text-align: center;
    }
}


/* mobile */

@media screen and (min-width: 320px) and (max-width: 767px){

    .locales{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 200px;
        gap: 2rem;
        text-align: center;
    }

    .contenedor_locales img{
        height: 12rem;
        width: 12rem;
        margin: 2rem 5rem;
        padding: 2rem 3rem;
        h2{
            width: 90%;
            margin: 0 auto;
            text-align: center;
            font-size: 2rem;
        }
    }

}