/* contenedor servicios */

.contenedor_servicios{
    box-shadow: 5px 4px 10px rgb(22, 22, 120);
    background-color: rgba(250, 235, 215, 0.6);
    border: 2px solid black;
    text-align: center;
    border-radius: 5rem;
    margin: 8rem;
    h2{
        text-align: center;
    }
    h3{
        margin: 2rem;
    }
    i:hover{
        cursor: pointer;
        transform: scale(1.5);
        transition: all 0.5s ease-in-out;
    }
}


/* servicios grandes  */

.servicios{
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    margin-bottom: 1rem;
    span{
        font-size: 6rem;
    }
}


/* servicios_secundarios */

.servicios_secundarios{
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    margin-bottom: 1rem;
    span {
        font-size: 4rem;
    }
}



/* tablet */

@media screen  and (min-width: 768px) and (max-width: 1023px){

    .servicios{
        display: flex;
        flex-direction: column;
        padding: 2rem;
        margin-bottom: 1rem;
        span{
            font-size: 5rem;
            border-bottom: 2px solid black;
        }
    }

    /* servicios_secundarios */

    .servicios_secundarios{
        display: flex;
        flex-direction: column;
        padding: 2rem;
        margin-bottom: 1rem;
        span {
            font-size: 5rem;
            border-bottom: 2px solid black;
        }
    }
}


/* mobile */
@media screen and (min-width: 320px) and (max-width: 767px){

    .servicios{
        display: flex;
        flex-direction: column;
        padding: 2rem;
        margin-bottom: 1rem;
        span{
            font-size: 5rem;
            border-bottom: 2px solid black;
        }
    }

    .contenedor_servicios h3{
        margin: 2rem;
    }


    /* servicios_secundarios */

    .servicios_secundarios{
        display: flex;
        flex-direction: column;
        padding: 2rem;
        margin-bottom: 1rem;
        span {
            font-size: 4rem;
            border-bottom: 2px solid black;
        }
    }
}